$pri: hsl(183, 91%, 18%);
$sec: hsl(184, 19%, 67%);
$lit: hsl(182, 66%, 92%);

$wht: hsl(180, 50%, 98%);
$blk: hsl(185, 33%, 6%);

$sec-dark: hsl(184, 30%, 9%);

$cta-btn: hsl(184, 91%, 18%);
$cta-lit: hsl(183, 92%, 28%);
