@font-face {
  font-family: "EestiPro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/gteestipro-regular.woff2") format("woff2"),
    url("/fonts/gteestipro-regular.woff") format("woff");
}

@font-face {
  font-family: "EestiPro";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/gteestipro-medium.woff2") format("woff2"),
    url("/fonts/gteestipro-medium.woff") format("woff");
}

@font-face {
  font-family: "EestiPro";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/gteestipro-bold.woff2") format("woff2"),
    url("/fonts/gteestipro-bold.woff") format("woff");
}
