@use "./fonts";
@use "./vars";

:root {
  --scrollbar-track: @wht;
  --scrollbar-thumb: @sec;

  --scrollbar-thumb: rgba(60, 60, 60, 0.12);

  &.dark {
    --scrollbar-track: #101a1b;
    --scrollbar-thumb: rgba(84, 84, 84, 0.48);
  }
}

:root {
  font-family: "EestiPro", "Source Sans Pro", system-ui, -apple-system, Ubuntu, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}

::selection {
  background-color: $pri;
  color: #fefefe;
}

html,
.theme-transition {
  overflow-y: scroll;
  transition-property: color, background;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  @apply of-y-scroll bg-brand-wht;

  &.light {
    color-scheme: light;
    color: hsla(0, 0%, 20%, 0.9);
  }

  &.dark {
    color-scheme: dark;
    color: hsla(0, 0%, 90%, 0.9);

    @apply bg-#0f130f;
  }
}

* {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  max-width: 8px;

  &-track,
  &-corner {
    background-color: var(--scrollbar-track);
  }

  &-thumb {
    background-color: var(--scrollbar-thumb);
  }
}

.page {
  &-enter-active,
  &-leave-active {
    transition: all 500ms;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    filter: blur(0.5rem);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.nav-overlay {
  @apply fixed h-full w-full z-6 backdrop-filter
    of-hidden bg-black/50 top-0 left-0;
}

.hr,
.divider {
  border-width: thin 0 0;

  @apply flex-1 h-0 max-h-0 max-w-full block
    border-(solid zinc-5/30.5);

  &.inset {
    @apply max-w-4/5;
  }
}

.max-screen {
  &,
  &-cont {
    @apply xl:(max-w-screen-xl) mx-auto;
  }

  &-cont {
    @apply container;
  }
}
